.header__skills, .header__apply {
	font-family: 'gilroyregular', arial, helvetica, sans-serif;
}

.header__button {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

.banner__tittle {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

.banner__text {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

.first__tittle {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

.advantages__approach_tittle {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

.advantages__approach_text {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

.advantages__price__tittle {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

.advantages__price_text {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

.advantages__result_tittle {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

.advantages__result_text {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

.first__button {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

.second__tittle {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

.skills__website_tittle {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

.skills__website_text {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

.skills__game_tittle {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

.skills__game_text {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

.skills__app_tittle {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

.skills__app_text {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

.third__tittle {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

.third__text {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

#name, #tel, #email {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

.third__button {
	font-family: 'montserratregular', arial, helvetica, sans-serif;
}

.footer__text {
	font-family: 'robotoregular', arial, helvetica, sans-serif;
}

.footer__author {
	font-family: 'robotoregular', arial, helvetica, sans-serif;
}





